ema-pytorch==0.3.1
accelerate==0.25.0
torch~=2.1.1
numpy~=1.24.1
matplotlib~=3.8.2
tqdm~=4.66.1
scikit-learn~=1.3.2
tensorflow~=2.15.0.post1
torchvision~=0.16.1
jax~=0.4.21
scipy~=1.11.4
six~=1.16.0
setuptools~=68.2.0
packaging~=23.2
einops~=0.7.0
Pillow~=9.3.0